<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>thirteen23 iOS Exercise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F13A3B241BCDD4FA009B645D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F13A3B381BCDD4FA009B645D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F13A3B431BCDD4FA009B645D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
